<a href="https://colab.research.google.com/github/xgross11/UPA2_projekt/blob/main/explor_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

penguins = pd.read_csv("penguins_lter.csv")
'''Zakladni prehled - vypis prvnich, nahodne vybranych a poslednich radku, vypis tvaru(radky x sloupce)'''

'''Info o atributech - jmeno typ, nazvy sloupcu a hodnotyve sloupci'''
print(penguins.dtypes)
penguins.info()
print(penguins.columns)
# charakteristika ciselnych atributu
print(penguins.describe())

studyName               object
Sample Number            int64
Species                 object
Region                  object
Island                  object
Stage                   object
Individual ID           object
Clutch Completion       object
Date Egg                object
Culmen Length (mm)     float64
Culmen Depth (mm)      float64
Flipper Length (mm)    float64
Body Mass (g)          float64
Sex                     object
Delta 15 N (o/oo)      float64
Delta 13 C (o/oo)      float64
Comments                object
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   studyName            344 non-null    object
 1   Sample Number        344 non-null    int64
 2   Species              344 non-null    object
 3   Region               344 non-null    object
 4   Island               344 non-null    object
 5   Stage                344 non-null    object
 6   Individual ID        344 non-null    object
 7   Clutch Completion    344 non-null    object
 8   Date Egg             344 non-null    object
 9   Culmen Length (mm)   342 non-null    float64
 10  Culmen Depth (mm)    342 non-null    float64
 11  Flipper Length (mm)  342 non-null    float64
 12  Body Mass (g)        342 non-null    float64
 13  Sex                  334 non-null    object
 14  Delta 15 N (o/oo)    330 non-null    float64
 15  Delta 13 C (o/oo)    331 non-null    float64
 16  Comments             26 non-null     object
dtypes: float64(6), int64(1), object(10)
memory usage: 45.8+ KB
Index(['studyName', 'Sample Number', 'Species', 'Region', 'Island', 'Stage',
       'Individual ID', 'Clutch Completion', 'Date Egg', 'Culmen Length (mm)',
       'Culmen Depth (mm)', 'Flipper Length (mm)', 'Body Mass (g)', 'Sex',
       'Delta 15 N (o/oo)', 'Delta 13 C (o/oo)', 'Comments'],
      dtype='object')
       Sample Number  Culmen Length (mm)  Culmen Depth (mm)  \
count     344.000000          342.000000         342.000000
mean       63.151163           43.921930          17.151170
std        40.430199            5.459584           1.974793
min         1.000000           32.100000          13.100000
25%        29.000000           39.225000          15.600000
50%        58.000000           44.450000          17.300000
75%        95.250000           48.500000          18.700000
max       152.000000           59.600000          21.500000

       Flipper Length (mm)  Body Mass (g)  Delta 15 N (o/oo)  \
count           342.000000     342.000000         330.000000
mean            200.915205    4201.754386           8.733382
std              14.061714     801.954536           0.551770
min             172.000000    2700.000000           7.632200
25%             190.000000    3550.000000           8.299890
50%             197.000000    4050.000000           8.652405
75%             213.000000    4750.000000           9.172123
max             231.000000    6300.000000          10.025440

       Delta 13 C (o/oo)
count         331.000000
mean          -25.686292
std             0.793961
min           -27.018540
25%           -26.320305
50%           -25.833520
75%           -25.062050
max           -23.787670

In [ ]:
from google.colab import drive
drive.mount('/content/drive')